Repository piwi3910/OmniSight: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config eslint.config.mjs --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --config eslint.config.mjs --fix", "prettier --write"],
  "*.{js,jsx,json,md}": ["prettier --write"]
}

Update package.json to limit ESLint warnings to 100
  package.json
Due: prettier --write

Revert "Update package.json to limit ESLint warnings to 100"
  package.json
Due: prettier --write

Fix: Resolved nested Git repository issue by moving all files to parent repository
  .eslintrc.js
  .gitignore
  package-lock.json
  package.json
  shared/camera-protocols/examples/stream-recording-demo.ts
  shared/camera-protocols/protocols/AxisProtocol.ts
  shared/camera-protocols/protocols/ONVIFProtocol.ts
  shared/camera-protocols/protocols/WebRTCProtocol.ts
  unused-vars-errors.txt
Due: eslint --config eslint.config.mjs --fix, prettier --write

Fix ESLint issues in WebRTC-related files
  shared/camera-protocols/examples/stream-recording-demo.ts
  shared/camera-protocols/protocols/WebRTCProtocol.ts
Due: eslint --config eslint.config.mjs --fix, prettier --write

Fix ESLint issues in shared components
  shared/camera-protocols/utils/NATTraversalHelper.ts
  shared/camera-protocols/utils/WebRTCStreamHandler.ts
  shared/middleware/errorHandler.ts
Due: eslint --config eslint.config.mjs --fix, prettier --write

Fix ESLint issues in shared/websocket/index.ts
  shared/websocket/index.ts
Due: eslint --config eslint.config.mjs --fix, prettier --write

Fix ESLint issues in WebRTCProtocol.ts
  shared/camera-protocols/protocols/WebRTCProtocol.ts
Due: eslint --config eslint.config.mjs --fix, prettier --write

Update ESLint configuration and fix issues in WebRTCProtocol.ts
  eslint.config.mjs
  shared/camera-protocols/protocols/WebRTCProtocol.ts
Due: eslint --config eslint.config.mjs --fix, prettier --write

Fix ESLint issues in camera protocol files
  shared/camera-protocols/protocols/HLSProtocol.ts
  shared/camera-protocols/protocols/WebRTCProtocol.ts
Due: eslint --config eslint.config.mjs --fix, prettier --write

Fix ESLint issues in AxisProtocol.ts
  shared/camera-protocols/protocols/AxisProtocol.ts
Due: eslint --config eslint.config.mjs --fix, prettier --write

Fix ESLint issues in MJPEGProtocol.ts
  shared/camera-protocols/protocols/MJPEGProtocol.ts
Due: eslint --config eslint.config.mjs --fix, prettier --write

Fix ESLint issues in AxisProtocol.ts by using proper type definitions instead of any
  shared/camera-protocols/protocols/AxisProtocol.ts
Due: eslint --config eslint.config.mjs --fix, prettier --write

Fix ESLint issues in MJPEGProtocol.ts by adding proper types instead of any
  shared/camera-protocols/protocols/MJPEGProtocol.ts
Due: eslint --config eslint.config.mjs --fix, prettier --write

Fix ESLint issues in WebRTCProtocol.ts by replacing any types with proper type definitions
  shared/camera-protocols/protocols/WebRTCProtocol.ts
Due: eslint --config eslint.config.mjs --fix, prettier --write

Add ESLint fix script to help with automated fixes of common issues
  fix-remaining-eslint.js
Due: prettier --write

Update ESLint config to be more lenient with declaration files and rest arguments
  eslint.config.mjs
Due: none

Fix ESLint TypeScript issues in mobile-embedded.ts by properly typing interfaces and implementations
  shared/hardware-acceleration/providers/mobile-embedded.ts
Due: eslint --config eslint.config.mjs --fix, prettier --write

Fix ESLint issues: Replace 'any' types with proper TypeScript types in shared modules
  shared/communication/index.ts
  shared/hardware-acceleration/index.ts
  shared/messaging/index.ts
  shared/models/index.ts
  shared/monitoring/index.ts
Due: eslint --config eslint.config.mjs --fix, prettier --write

Fix ESLint warnings in mobile-embedded.ts and update eslint.config.mjs
  eslint.config.mjs
  shared/hardware-acceleration/providers/mobile-embedded.ts
Due: eslint --config eslint.config.mjs --fix, prettier --write

Create script to remove ESLint disable comments from codebase
  scripts/remove-eslint-disable.js
Due: prettier --write

Remove ESLint disable comments from source files
  services/metadata-events/src/models/index.ts
  shared/camera-protocols/protocols/AxisProtocol.ts
  shared/hardware-acceleration/providers/mobile-embedded.ts
  shared/middleware/errorHandler.ts
Due: eslint --config eslint.config.mjs --fix, prettier --write
